---
layout: base
title: About Me
permalink: /about/
---

<div class="container about-me">
  {% include nav.html page="about" %}

  <main>
    <div class="row">
      <h1 class="spaced-out">About Me</h1>
    </div>
    
    <div class="row">
      <div class="cols-5">
        <img class="headshot" src="/assets/kannapell_Headshot.jpg" alt="photo of Claire">
      </div>

      <div class="cols-7">
        <p>I've been a musician my whole life - from classical piano lessons through high school, playing electric bass 
          in a bar band at university, to learning double bass and performing in jazz combos, folk trios, and traditional bluegrass groups, the one constant has been a passional for music.
        </p>

        <p>My musical journey has taken me behind the camera recently, as a producer of <i>From the Front Row</i>, an independent public television show capturing live concerts in local venues across the state of Wisconsin.
        I am one of the primary video editors of this program, and have started to expand my experience into directing live capture of music shows. I'm so excited to keep growing into this new phase of my musical journey.</p>

        <p>Interested in collaborating? <a href="/contact/">let’s chat!</a></p>
      </div>
    </div>
  </main>
</div>

{% include footer.html %}
