---
layout: base
title: Contact Claire Kannapell
permalink: /contact/
---

<div class="container">
  {% include nav.html page="contact" %}

  <main class="contact-page">
    <h1>Contact Me</h1>

    <div class="row">

      <div class="cols-4">
        <ul>
          <li>
            <address>
              <a href="mailto:claire.kannapell@gmail.com">
                <img src="/assets/email.png" alt="Email">
                Email
              </a>
            </address>
          </li>
        </ul>
      </div>
    </div>
  </main>
</div>

{% include footer.html %}
