$colwidth: 73px;
$gutter: 20px;

.container {
  width: 1300px;
  margin: 0 auto;
  background: white;
  padding-left: 100px;
  padding-right: 100px;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: $gutter;
  align-items: flex-start;

  img {
    width: 100%;
    display: inherit;
  }

  video {
    width: 101%;
    display: inherit;
  }
}

.gap-column {}   // empty, just a communicative class

.cols-1 {flex-basis: $colwidth;}
.cols-2 {flex-basis: calc((#{$colwidth} * 2) + (#{$gutter} * 1));}
.cols-3 {flex-basis: calc((#{$colwidth} * 3) + (#{$gutter} * 2));}
.cols-4 {flex-basis: calc((#{$colwidth} * 4) + (#{$gutter} * 3));}
.cols-5 {flex-basis: calc((#{$colwidth} * 5) + (#{$gutter} * 4));}
.cols-6 {flex-basis: calc((#{$colwidth} * 6) + (#{$gutter} * 5));}
.cols-7 {flex-basis: calc((#{$colwidth} * 7) + (#{$gutter} * 6));}
.cols-8 {flex-basis: calc((#{$colwidth} * 8) + (#{$gutter} * 7));}
.cols-9 {flex-basis: calc((#{$colwidth} * 9) + (#{$gutter} * 8));}
.cols-10 {flex-basis: calc((#{$colwidth} * 10) + (#{$gutter} * 9));}
.cols-11 {flex-basis: calc((#{$colwidth} * 11) + (#{$gutter} * 10));}
.cols-12 {flex-basis: calc((#{$colwidth} * 12) + (#{$gutter} * 11));}
