header {
  padding-bottom: 4rem;
  padding-top: 2rem;

  .row {
    align-items: center;
    padding-top: 2rem;
  }

  .big-logo {
    transition: opacity 0.75s ease-out;
  }

  .introduction {
    font-size: 1.6em;
    line-height: 1.5em;
  }
}

.portfolio-entry {
  height: 300px;
  margin-top: 4rem;
  transition: background-color 0.5s ease-out, transform 0.5s ease-out;

  a {
    text-decoration: none;
  }

  .row {
    height: 100%;
  }

  .portfolio-image {
    height: 100%;
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      display: inline-block;
    }

    .portfolio-image-focused { display: none; }
    .portfolio-image-normal { display: block; }
  }

  &:hover {
    background: $color_fg;
    transform: scale(1.02);

    .portfolio-description {
      color: $color_bg;
    }

    .portfolio-image-focused { display: block; }
    .portfolio-image-normal { display: none; }
  }

  &:nth-of-type(even) {
    .portfolio-description { padding-left: $gutter; }
  }
}

.additional-portfolio-entries {
  .row {
    margin-top: calc(#{$gutter * 2});
  }

  .additional-portfolio-item {
    height: calc(#{$colwidth} * 4);
    transition: transform 0.5s ease-out;
    overflow: hidden;

    &:hover {
      transform: scale(1.02);

      .portfolio-image-focused { display: block; }
      .portfolio-image-normal { display: none; }
    }
  }

  img {
    object-fit: fill;
    object-position: right bottom;
    display: inline-block;
    width: auto;
  }

  .portfolio-image-focused { display: none; }
  .portfolio-image-normal { display: block; }
}
