footer {
  width: 100%;
  margin-top: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 0.7em;
  letter-spacing: 0.04em;

  &, .container, a, a:visited {
    background-color: $color_fg;
    color: $color_bg;
  }

  li {
    padding-bottom: 0.2rem;
  }
}
