footer {
  width: 100%;
  margin-top: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 0.7em;
  letter-spacing: 0.04em;

  &, .container, a, a:visited {
    background-color: $color_fg;
    color: $color_bg;
  }

  li {
    padding-bottom: 0.2rem;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: $gutter;
  align-items: flex-start;
}
