// TODO: hover on small logo and nav links should change color

nav {
  position: sticky;
  z-index: 100;
  top: 1rem;

  a {
    text-decoration: none;

    &.active {
      border-bottom: 2px solid black;
    }
  }

  .row {
    align-items: center;
  }

  ul, menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: .8rem;
  }

  .socials {
    justify-content: flex-start;

    li {
      margin-left: 1rem;
    }

    img {
      width: 25px;
    }
  }

  .navbar-logo {
    transition: opacity 0.75s ease-out;
  }
}
