html {
  font-family: rl-limo, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  width: 100%;
}

h1 {
  font-family: rl-limo, sans-serif;
  font-size: 6em;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.01em;
  margin: 0;
}

h2 {
  font-family: rl-limo, sans-serif;
  font-size: 2em;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.01em;
  margin: 0;
}

h3 {
  font-family: rl-limo, sans-serif;
  font-size: 1.1em;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin: 0;
  padding-top: 1em;
  padding-bottom: 0.75em;
}

strong {
  font-weight: 700;
}

p {
  line-height: 1.5;
  margin: 0;

  &:not(:first-of-type) {
    margin-top: 1.5rem;
  }
}

a {
  color: $color_fg;

  &:visited {
    color: $color_fg;
  }
}

address {
  font-style: normal;
}
